<ion-header>
  <ion-toolbar >
    <ion-buttons (click)="openMenu()" slot="start">
      <img height="35px" src="../../assets/Menu bar.png">
    </ion-buttons>

    <ion-title>
      <img height="45px" src="../../assets/applogo.png">
    </ion-title>

    <ion-buttons (click)="callUs()" slot="end">
      <img height="40px" src="../../assets/Phone Symbol.png">
    </ion-buttons>
    <ion-title>  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100%; 
    height: 200px;" 
    >

    <div style="width: 100%; top: 100px; position: absolute; height: 60px;">
          <p style="margin: 0px;  padding-left: 10px;" align="center"><img (click)="callUs()" height="48px" src="../../assets/sp/Contact Us Today Button.png"></p>
    </div>

    <img style="width: 100%; height: 100%;" src="../../assets/sp/{{data.title}} Page Photo.jpg">
  </div>

  <p>
    {{details}}
  </p>


</ion-content>
