.topdiv{
    width: 100%; 
    height: 210px;
    background-image: url('../../assets/Photo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

    ion-toolbar {
        --background: url('../../assets/Gradient Bar.jpg');
        --background-repeat: no-repeat;
        //  fixed center; 
     }