<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="topdiv">

    <p style="margin: 0px; padding-left: 10px; padding-top: 95px" align="center"><img (click)="callUs()" height="55px" src="../../assets/Phone Number Button.png"></p>

  </div>

  <div>
    <p style="font-size: 17px" align="center"><b>About</b></p>

    <p style="margin: 12px; font-size: 15px">
        Triangle Legacy Flood Restoration & Carpet Cleaning Washington DC is a family owned business that was founded two decades ago by the current CEO, Mr. Andrew Ross. <br><br>

        We are a growing team of professionals who specialize in residential and commercial water damage restoration, mold remediation & removal, carpet & upholstery cleaning, as well as handyman services. <br><br>
        
        At its genesis, Mr. Ross founded Triangle Legacy with carpet/upholstery cleaning and handyman services at its core. With the turn of the century however, where natural disasters are no longer unique figments of our creative imagination, but instead a harsh reality, Triangle Legacy has evolved with the times. Not only have we evolved, but we continue to do so; ensuring that we undergo all the necessary training and earn all the relevant certification along the way. This enables us to continue to be an ‘all hands on deck’ team of professionals, ready to serve any day!<br><br>
    </p>   
    
    


    <p style="font-size: 17px" align="center"><b>Emergency and Non-Emergency Services</b></p>
        <p style="margin: 12px; font-size: 15px">
            At Triangle Legacy, we know how important it is to find a professional that offers restoration and repair services around-the-clock. We offer emergency services 24-hours a day, 7-days a week. We also know how important your weekly schedule is and will work with you to find a suitable date and time to get any repairs or restorations completed as quickly as possible.
        
            <br><br>
        You can rely on us to fix anything. From minor mishap to major disasters, you can call us for all your restoration and clean-up needs. We offer our reliable services 24/7 on all 365 days a year including weekends and holidays.
        
        <br><br>
        No job is too small or big for us. The well being of our customers is all that matters to us and we strive to fulfill their expectations. Our expert understanding of different types of disasters enables us to customize solutions as per your specific needs.
        
    </p> 


    <p style="font-size: 17px; margin-top: 30px" align="center"><b>The Process</b></p>

        <b style="margin-left: 12px; font-size: 15px">Emergency Response Service:</b>
        <br>

        <p style="margin: 12px; font-size: 15px">
        We will arrive at your residence or place of business within an hour of your phone call.
        </p>
        

        <b style="margin-left: 12px; font-size: 15px">Non-Emergency Response Service:</b>
        <br>

        <p style="margin: 12px; font-size: 15px">
            <b>Free Consultation & Assessment:</b> Together, we will determine and schedule a mutually agreeable date and time when we will come out and provide you with a free consultation & assessment.
            <br><b>Free Proposal & Estimate:</b> Next, if you are inclined to proceed with potential services, we will provide you with a free written proposal & estimate based on the results of our free assessment.
            <br><b>Signature Acceptance of Proposal Agreement:</b> Once the free proposal/estimate has been agreed upon and signed by both parties, we will schedule a suitable date and time to commence the relevant service.
            <br><b>Start Work:</b> We will show up on time and ‘get the ball rolling’ on the relevant potential service.

            <br>
        </p>

        
       
        

  </div>


</ion-content>
