<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="topdiv">
  </div>

  <p style="font-size: 17px" align="center"><b>Have a Question?</b></p>


  <br>
  <b style="margin-left: 11px; margin-bottom: 7px; ">First and Last Name</b>
  <br>

  <div>
    <ion-row class="itemclass">
      <ion-input
        type="text"
      [(ngModel)]="maxbuyers" required></ion-input>  
  </ion-row>  
  </div>


  <br>
  <br>
  <b style="margin-left: 11px; margin-bottom: 7px; ">Email Address</b>
  <br>
  
  <div>
    <ion-row class="itemclass">
      <ion-input
        type="text"
      [(ngModel)]="maxbuyers" required></ion-input>  
  </ion-row>  
  </div>
  

  <br>
  <br>
  <b style="margin-left: 11px; margin-bottom: 7px; ">Subject</b>
  <br>
  
  <div>
    <ion-row class="itemclass">
      <ion-input
        type="text"
      [(ngModel)]="maxbuyers" required></ion-input>  
  </ion-row>  
  </div>
  
  <br>
  <br>
  <b style="margin-left: 11px; margin-bottom: 7px; ">Message</b>
  <br>
  
  <div>
    <ion-row class="itemclass">
      <ion-input
        type="text"
      [(ngModel)]="maxbuyers" required></ion-input>  
  </ion-row>  
  </div>


  <p align="center"><img height="65px" src="../../assets/Submit Button.png"></p>
  
  <p align="center" style="font-weight:600">Give us a call !!!!</p>

  <ion-row >
    <ion-col size="9">
      <div style="margin-left: 4vw; border-radius: 6px; width: 90%; 
      padding-left: 10px; padding-top: 10px;
      color: white;
      font-weight: 700;
       margin-top: 3px; height: 40px; background-color: rgb(0, 78, 136)">
      Washington DC
      </div>
    </ion-col>
    <ion-col size="2.5">
      <img height="45px" style="margin-right: 3vw" src="../../assets/Map Page/Call Button.png">
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col size="9">
      <div style="margin-left: 4vw; border-radius: 6px; width: 90%; 
      padding-left: 10px; padding-top: 10px;
      color: white;
      font-weight: 700;
       margin-top: 3px; height: 40px; background-color: rgb(0, 78, 136)">
      Maryland
      </div>
    </ion-col>
    <ion-col size="2.5">
      <img height="45px" style="margin-right: 3vw" src="../../assets/Map Page/Call Button.png">
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col size="9">
      <div style="margin-left: 4vw; border-radius: 6px; width: 90%; 
      padding-left: 10px; padding-top: 10px;
      color: white;
      font-weight: 700;
       margin-top: 3px; height: 40px; background-color: rgb(0, 78, 136)">
      North Carolina
      </div>
    </ion-col>
    <ion-col size="2.5">
      <img height="45px" style="margin-right: 3vw" src="../../assets/Map Page/Call Button.png">
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col size="9">
      <div style="margin-left: 4vw; border-radius: 6px; width: 90%; 
      padding-left: 10px; padding-top: 10px;
      color: white;
      font-weight: 700;
       margin-top: 3px; height: 40px; background-color: rgb(0, 78, 136)">
      Virginia
      </div>
    </ion-col>
    <ion-col size="2.5">
      <img height="45px" style="margin-right: 3vw" src="../../assets/Map Page/Call Button.png">
    </ion-col>
  </ion-row>
</ion-content>
