<ion-header>
  <ion-toolbar >
    <ion-buttons (click)="openMenu()" slot="start">
      <img height="35px" src="../../assets/Menu bar.png">
    </ion-buttons>

    <ion-title>
      <img height="45px" src="../../assets/applogo.png">
    </ion-title>

    <ion-buttons slot="end">
      <img height="35px" src="../../assets/Phone Symbol.png">
    </ion-buttons>
    <ion-title>  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div *ngFor="let service of services; let i = index;" (click)="showDetails(i)" style="float: left;" class="allservices">
      <img src="../../assets/sp/{{service.title}}.jpg" style="height: 100%; width: 100%;">
    </div>
  </div>
</ion-content>
