<!-- <ion-header >
  <ion-toolbar >
    <ion-buttons (click)="openMenu()" slot="start">
      <img height="35px" src="../../assets/Menu bar.png">
    </ion-buttons>

  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>
  
  <!-- <ion-buttons (click)="openMenu()" slot="start"> -->
      <img (click)="openMenu()" style="position: absolute; top: 5px; left: 5px;" height="35px" src="../../assets/Menu bar.png">
    <!-- </ion-buttons> -->

  <div class="content_bg">
      <p style="margin: 0px;" align="center">
        <img height="220px" src="../../assets/big logo.png">
      </p>


    <p style="margin: 0px;  color: rgb(0, 41, 79);" align="center">AVAILABLE 24/7 ALL YEAR ROUND</p>

    <p style="margin-top: 30px; font-weight: 500; color: rgb(0, 41, 79);" align="center">For Estimates or Appointments</p>
    <p style="margin: 0px;" align="center"><img (click)="appointmentcall()" height="55px" src="../../assets/1800 number.png"></p>


        <p style="margin-top: 30px; font-weight: 500;  color: rgb(0, 41, 79);" align="center">Submit Quote Form</p>
    <p style="margin: 0px;" align="center"><img (click)="submitform()" height="55px" src="../../assets/Submit Button.png"></p>

        <p style="margin-top: 30px; font-weight: 500;  color: rgb(0, 41, 79);" align="center">Locations Services</p>
    <p style="margin: 0px;" align="center"><img (click)="maps()" height="55px" src="../../assets/Home Map Button.png"></p>

  </div>
</ion-content>
